body {
  background-color: #D9C9BC;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 45px;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 40px;
}

h5 {
  font-weight: bold;
  font-size: 24px;
  margin: 24px 0px;
}

.blurb {
  width: 85%;
  margin: auto;
  text-align: left;
  background-color: #eee;
  border: 3px solid black;
  border-radius: 4px;
  padding: 19px;
  margin-bottom: 40px;
}

.img-wrapper {
  max-width: 350px;
  margin: auto;
}

.display-img {
  max-width: 98%;
  max-height: 350px;
  border: 3px solid black;
  border-radius: 4px;
}