body {
  background-color: #9ABAAD;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-top: 48px;
  margin-bottom: 48px;
}

header.fixed {
  position:  fixed;
  top:  0;
  left: 0;
  width:  100%;
  margin-top: 0px;
  padding-bottom: 8px;
  background-color: #9ABAAD;
  border-bottom: 4px solid #001D4D;
}

header.fixed .header-img-wrapper {
  display: none;
}

.header-img-wrapper {
  display: block;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.header-img {
  max-width: 350px;
  height: 200px;
  border: 4px solid #001D4D;
  border-radius: 64px;
  background-color: #DDDDD5;
}

h1 {
  font-weight: 500;
  font-size: 2em;
  color: #363020;
  margin-top: 0px;
  margin-bottom:  0px;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #363020;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  color: #001D4D;
}

h6 {
  font-size: 1.2em;
  color: #001D4D;
  margin-bottom: 0px;
}

.body.fixed {
  margin-top:  375px;
}

.active {
  text-decoration: underline;
}

.blurb {
  max-width: 85%;
  margin: auto;
  text-align: left;
  background-color: #faeeee;
  border: 3px solid #001D4D;
  border-radius: 16px;
  padding: 64px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 0px;
  margin-top: 20px;
  color: #001D4D;
}

a {
  color: #001D4D;
  text-decoration: none;
}

a:hover {
  color: #232534;
  text-decoration: underline;
}

.img-wrapper {
  max-width: 360px;
  margin: auto;
  margin-top: 48px;
}

.display-img {
  max-width: 98%;
  max-height: 360px;
  border: 3px solid #363020;
  border-radius: 16px;
  box-shadow: 0px 0px 32px 2px #2e4057;
}

.row {
  width: 75%;
  max-width: 850px;
  margin: auto;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
}

@media only screen and (max-width: 768px) {
  main {
    min-height: 5350px;
  }

  header {
    margin-top: 75px;
    margin-bottom: 56px;
  }

  header a {
    text-decoration: none;
  }

  h2 {
    max-width: 68%;
    margin: auto;
  }

  .blurb {
    padding: 32px;
    max-width: 74%;
  }

  .row {
    min-height: 520px;
  }
}